.board{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

p{
  text-align: center;
}

#root{
  height: fit-content;
}
.App{
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.splitScreen{
  width: 50%;
  display: flex;
  height: fit-content;
}

.row{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cell{
  width: 70px;
  height: 70px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
}

.verticalBar{
  height: 72px;
  width: 2px;
  background-color: black;
}

.horizontalBar{
  width: 100%;
  height: 2px;
  background-color: black;
}

.possibility{
  flex: 0 0 33%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.finalNumber{
  flex: 0 0 100%;
  text-align: center;
  font-size: 25px;
}

.inputBoard{
  display: flex;
  flex-direction: column;
}

.numberInput{
  width: 50px;
  height: 50px;
}

.inputRow{
  height: 50px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.inputVerticalBar{
  height: 52px;
  width: 2px;
  background-color: black;
}

.inputHorizontalBar{
  width: 100%;
  height: 2px;
  background-color: black;
}

input{
  font-size: 20px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

button{
  margin: 30px auto;
  width: fit-content;
}